<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    <title>Restaurant Menu</title>
</head>
<body>
      <header>
        <h1>{{RestaurantName}} Menu</h1>
        <a href="{{ url_for ('logout') }}" class="btn">Logout</a>
    </header>
      <main>
        
          {%for item in menu%}
          <div class="item">
              <h2>{{item["Name"]}}</h2>
              <p>{{item["Description"]}}</p>
              <p><strong>Price:</strong> {{item["Price"]}}</p>
              <p><strong>preparation Time:</strong> {{item["preparation_time"]}}</p>
              <input type="submit" value="Add to Cart">
            </div>
          {% endfor %}
        </div>
      </main>
</body>
</html>