<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
  <title>Restaurant Menu</title>
</head>

<body>
  <header>
    <h1>Food Delivery Website</h1>
    <div>
      <form method="POST">
        <div style="height : 10%; width: 10%; float:right;">
          <input type="submit" name="action" value="Go to Cart">
        </div>
        <div style="height : 10%; width: 10%; float:right;">
          <input type="submit" name=action value="logout">
        </div>
        <div style="height : 10%; width: 10%; float:right;">
          <input type="submit" name="action" value="View Orders">
      </div>
      </form>
    </div>
  </header>
  </form>
  </div>
  <h2>{{restaurant}} Menu</h2>
  <main>
    
    {%for item in items%}
    <div class="item">
      <form method="POST">
        <div class="form-row">
          <input type="hidden" id="ItemId" name="ItemId" value={{item[0]}}>
        </div>
        <h2>{{item[2]}}</h2>
        <div class="form-row">
          <input type="hidden" id="ItemName" name="ItemName" value="{{item[2]}}">
        </div>
        <p>Description: {{item[4]}}</p>
        <p><strong>Price:</strong>$ {{item[3]}}</p>
        <p><strong>preparation Time:</strong> {{item[5]}} min</p>
        <input type="submit" name="action" value="Add to Cart">
      </form>
    </div>
    {% endfor %}
  </main>
</body>
</html>