<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    <title>Restaurant Home Page</title>
</head>

<body>
    <header>
        <h1>Food Delivery Website</h1>
        <a href="{{ url_for ('logout') }}" class="btn">Logout</a>
    </header>
    <h2>{{ restaurant }} Menu</h2>
    <main>
        {%for menu in menus%}
        <div class="item">
            <h2><strong>Name:</strong> {{menu["Name"]}}</h2>
            <p><strong>Contents: </strong> {{menu["Description"]}}</p>
            <p><strong>Price:</strong> {{menu["Price"]}}</p>
            <p><strong>Preparation Time:</strong>{{menu["Preparation_Time"]}}</p>
            <input type="submit" value="Remove">
        </div>
        {% endfor %}
    </main>
    <div class="container">
        <div class="form">
            <h3>Add Item</h3>
            <br>
            <form method="POST">
                <div class="form-row">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-row">
                    <label for="contents">Contents:</label>
                    <input type="text" id="contents" name="contents" required>
                </div>
                <div class="form-row">
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price" required>
                </div>
                <div class="form-row">
                    <label for="preparation_time">Prep Time:</label>
                    <input type="text" id="preparation_time" name="preparation_time" required>
                </div>
                <input type="submit" value="Add">
        </div>
    </div>
</body>

</html>