header {
    overflow: hidden;
    text-align: center;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: italic;
    background-color: crimson;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.container {
    margin: 50px auto;
    width: 800px;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

body {
    background-image: url("{{ url_for('static', filename='images/bg_image.jpg') }}");
    background-size: cover;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

.form {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    margin: 0 20px;
}

.form select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
    margin-right: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-row label {
    flex: 1;
    margin-right: 20px;
}

.form-row input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
    flex: 2;
}

.form-row select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
    margin-right: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: crimson;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: green;
}

.item {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.msg {
    color: crimson
}

.btn {
    padding: 20 px 20px;
    color: white;
    float: right;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
}

a:link {
    padding: 5px 5px;
    text-decoration: none;
}