<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    <title>User Home</title>
</head>

<body>
    <header>
        <h1>Food Delivery Website</h1>
        <a href="{{ url_for ('logout') }}" class="btn">Logout</a>
    </header>
    <main>
        {%for restaurant in restaurants%}
        <div class="item">
            <h2>{{restaurant["Name"]}}</h2>
            <p>{{restaurant["City"]}},{{restaurant["State"]}},{{restaurant["PinCode"]}}</p>
            <p><strong>Delivery Fee:</strong> {{restaurant["DeliveryFee"]}}</p>
            <input type="submit" value="Order">
          </div>
        {% endfor %}
      </div>
    </main>
</body>
</html>