<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Food Delivery Website</h1>   
        <div>
            <form method="POST">
              <div style="height : 10%; width: 10%; float:right;">
                <input type="submit" name="action" value="logout">
              </div>
            </form>
          </div>
    </header>
    <h2>{{profile}} Orders</h2> 
    <main>
        <form method="POST">
        <table>
            <tr>
              <th>Order Id</th>
              <th>Customer Name</th>
              <th>Phone Number</th>
              <th>Order Total</th>
            </tr>
        {%for order in orders%}
        <tr>
            <td>{{order[0]}}</td>
            <td>{{order[1]}}</td>
            <td>{{order[2]}}</td>
            <td>$ {{order[3]}}</td>
          </tr>
          {% endfor %}
          </table>
      </form>
    </main>
</body>
</html>